body {
    color: var(--color-primary-light);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    font-style: normal;
    font-family: 'Poppins';
    background-color: var(--color-primary-dark);
}