.link {
    font-size: 13px;
    color: var(--color-secondary-light);
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
        color: var(--color-secondary-hover);
    }
}