.parameters {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 42px;

    &__icon {
        fill: var(--color-secondary-light);
        padding-right: 6px;
    }

    &__text {
        color: var(--color-secondary-light);
        padding-right: 16px;
    }

    &__links {
        fill: var(--color-secondary-light);
        outline: var(--color-secondary-light);
    }
}